
  <div class="flex justify-center items-center h-screen w-screen p-6 bg-gray-100">

  
  <div class="flex flex-col bg-white rounded p-6 space-y-4">

    <div class="w-full mb-4">
        <h2 class="text-xl font-bold">Erfolg!</h2>
        <p>Deine Umfrage wurde erstellt.</p>
        <div class="flex">
            Anzahl der Anforderungen: {{criterias.length}}
        </div>
    </div>

    <div class="flex flex-row max-w-screen-lg w-full mb-4">
        <!-- <button class="w-1/3 py-4 bg-dmYellow hover:bg-dmYellowAccent rounded text-sm font-bold text-gray-50 transition duration-200 mr-2">
            Edit
        </button> -->
        <button class="w-full py-4 bg-dmBlue hover:bg-dmBlueAccent rounded text-sm font-bold text-gray-50 transition duration-200" (click)="onCopyLink()">
           {{buttonText}} 
        </button>
    </div>
    
</div>

</div>