
<div class="flex justify-center items-center h-screen w-screen p-6 bg-gray-100">
    <div class="max-w-md w-full bg-white rounded p-6 space-y-4">
        <div class="mb-4">
            <h2 class="text-xl font-bold">AHP Umfrage erstellen</h2>
            <p>Lege die Anzahl der Anforderungen fest.</p>
        </div>

        <div>
            <input class="w-full p-4 text-sm bg-gray-50 focus:outline-none border border-gray-200 rounded text-gray-600" type="number" max="20" placeholder="Wieviele Anforderungen?" [formControl]="quantity">
        </div>

        <div>
            <button class="w-full py-4 bg-dmBlue hover:bg-dmBlueAccent rounded text-sm font-bold text-gray-50 transition duration-200" [routerLink]="['/criterias']"
            [queryParams]="{ quantity: quantity.value }"
            [disabled]="quantity.invalid">
                Umfrage erstellen
            </button>
        </div>
    </div>
</div>